<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PI-🚗</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="./app.css">
</head>
<body>
    <div class="container">
        <div class="container__up">
            <i class="container__icon fas fa-arrow-circle-up" data-action="up"></i>
        </div>
        <div class="container__middle">
            <i class="container__icon fas fa-arrow-circle-left" data-action="left"></i>
            <i class="container__icon fas fa-ban" data-action="stop"></i>
            <i class="container__icon fas fa-arrow-circle-right" data-action="right"></i>
        </div>
        <div class="container__down">
            <i class="container__icon fas fa-arrow-circle-down" data-action="down"></i>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./app.js"></script>
</body>
</html>
